

/* helpers */

.container {
    text-align: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.inline-block {
    display: inline-block;
}

.gap {
    margin: 15px;
}

.float-right {
    margin-right: 5px;
    margin-top: 5px;
    float:right;
}

.margin-center {
    margin: 0 auto;
}