

/* helpers */

.container {
    text-align: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.inline{
    display: inline-block;
}

.gap {
    margin: 15px;
}

.float-right {
    float:right;
}

.float-right-margin {
        margin-right: 5px;
        margin-top: 5px;
        float:right;
}

.margin-center {
    margin: 0 auto;
}

.p7 {
    padding: 7px;
}

.box-shadow {
    box-shadow:0 0 20px rgba(0,0,0,0.8);
}
