
.book-filter-container {
    background-color: #cbd0d0;
    height: 50px;
    margin-bottom: 15px;
}

.book-filter-container h2 {
    display: inline;
    margin: 0;
    margin-right: 30px;
    font-size: 20px;
    color: #1d9389;
}

.book-filter-container form {
    margin-top: 3px;
}

.book-filter-container input {
    outline: none;
    border-radius: 5px;
    padding: 7px;
    margin-right: 5px;
    width: 120px;
    border: none;
}

.book-filter-container button {
    background-color: #36a097;
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 15px;
}

.book-filter-container .number-input {
    width: 70px;
}