.email-preview-container {
    border-bottom: 1px solid rgb(196, 194, 194);
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.1em;
}
.email-preview-container:hover {
    background-color: #d6e0df;
}
