.email-compose-container {
    margin-right: 15px;
}

.email-compose-container .body-msg {
    height: 150px;
    margin: 5px;
}

.compose-header {
    color: rgb(82, 175, 102);
}

.email-compose-container button {
    color: rgb(82, 175, 102);
    background-color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.email-msg {
    font-size: 1.1em;
    margin: 5px;
}

.body-msg {
    font-size: 1.4em;
}