.list-header {
    padding: 24px 10px;
    border-bottom: 1px solid #b4b4b4;
    background-color: #222831;
    font-size: 1.2em;
}

.list-header input {
    width: 30%;
}

@media (max-width: 740px) {
    .list-header {
        padding: 10px 10px;
        border-bottom: 0;
        display: flex;
        justify-content: space-around;
    }
    .list-header .emails-read {
        display: none;
    }
}

.cmp-main-container {
    height: 100vh;
}

.isRead {
    color: #fffefe47;
}

.star-btn {
    padding-right: 7px;
    font-size: 1.4em;
    font-weight: 700;
    color: #f4b400;
}