.email-details-container {
    padding-left: 20px;
}

.email-details-container > p {
    padding-bottom: 20px;
}

.email-header {
    padding-right: 22px;
    padding-left: 22px;
}

.email-header button{
    width: 40px;
    height: 40px;
    background-color: rgb(207, 87, 87);
    color: white;
}

.email-content {
    margin: 20px;
    padding-left: 20px;
}