.email-details-container {
    padding-left: 20px;
}

.email-details-container > p {
    padding-bottom: 20px;
}

.email-header {
    padding-right: 22px;
    padding-left: 22px;
}

.email-header button{
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    color: white;
}

.email-header .del-btn {
    color: rgb(218, 83, 83);
    background-color: #fff;
    font-weight: 900;
}

.email-content {
    padding-left: 20px;
}