.email-compose-container {
    margin-right: 15px;
}

.email-compose-container .body-msg {
    height: 150px;
    margin: 5px;
}

.compose-header {
    color: #bbe9ff;
}

.email-compose-container button {
    background-color: #fff;
    background-color: rgb(115, 195, 245);
    font-size: 1.2em;
    cursor: pointer;
}

.email-msg {
    font-size: 1.1em;
    margin: 5px;
}

.body-msg {
    font-size: 1.4em;
}