.email-list-container {
    flex-grow: 1;
    height: 87vh;
    overflow-y: auto;
}

.email-list-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 740px) {
    .email-list-container {
        overflow-y: unset;
    }
}