.side-bar {
    float: left;
    display: flex;
    flex-direction: column;
    height: 92vh;
    width: 220px;
    border-right: 1px solid #827f7f;
}

.side-bar-item {
    display: block;
    font-size: 1.2em;
    padding: 22px 8px;
    cursor: pointer;
    border-bottom: 1px solid #c3c3c3;
    transition: .2s;
}

.side-bar-item:hover {
    background-color: #538f8a;
}

.compose-btn {
    cursor: pointer;
    border-bottom: 1px solid #c3c3c3;
    background-color: #404852;
    color: white;
    transition: .2s;
    padding: 20px;
    font-size: 1.2em;
}

.plus-btn {
    font-size: 1.7em;
    color: rgb(82, 175, 102);
}

.compose-btn:hover {
    background-color: #538f8a;
}

@media (max-width: 740px) {
    .side-bar {
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        float: none;
    }
    .side-bar-item {
        font-size: 1em;
        border-bottom: 0;
    }
    .compose-btn {
        font-size: 1em;
    }
    .plus-btn {
        font-size: 1.4em;
    }
}