.side-bar {
    float: left;
    height: 100vh;
    width: 220px;
    border-right: 1px solid #d1d1d1;
}

.side-bar-item {
    display: block;
    font-size: 1.2em;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #c3c3c3;
    transition: .2s;
}

.side-bar-item:hover {
    background-color: #d0e4e3;
}

.compose-btn {
    cursor: pointer;
    background-color: #36a097;
    color: white;
    transition: .2s;
    padding: 7px;
    font-size: 1.2em;
}

.plus-btn {
    font-size: 1.7em;
}

.compose-btn:hover {
    background-color: #538f8a;
}
