.app-header-container {
    padding: 0 25px;
    user-select: none;
    border-bottom: 1px solid rgba(172, 169, 169, 0.507);
}

.app-header-container .router-link-active {
    color: #73e45c;
    font-weight: bold;
}


.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

@media (max-width: 740px) {
    .toggle-menu-screen {
        display: block;
    }
}

.open.toggle-menu-screen {
    visibility: visible;
    opacity: 1;
}

.toggle-menu-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(82, 175, 102);
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

@media (max-width: 740px) {
    .toggle-menu-btn {
        display: block;
    }
}

.main-menu a {
    color: rgb(82, 175, 102);
    padding: 20px;
    display: block;
    font-size: 20px;
}

.main-menu a:hover {
    color:#7eca44;
}

@media (max-width: 740px) {
    .main-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        background: #222831;
        height: 100vh;
        transition: transform 1s;
        transform: translate(100%, 0);
    }

    .open .main-menu {
        transform: translate(0, 0);
    }

    .main-menu a {
        width: 40vw;
        border-bottom: 1px solid #1e1e1e;
    }
}