.notes-add-container {
    background-color: white;
    max-width: 320px;
    margin: 20px auto;
    padding: 5px;
    box-shadow: inset 0 0 6px;
    border-radius: 10px;
}

.note-input {
    border: none;
    margin: 5px;
    width: 60%;
}

.selectedInput {
    color:#02635e;
}
.icons-container{
    display: inline;
}
.icons-container i{
    margin-right: 5px;
}