.notes-add-container {
    max-width: 320px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #aaa
}

.note-input {
    border: none;
    /* margin: 5px; */
    padding: 7px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid white;
}

.selectedInput {
    color:#02635e;
}
.icons-container{
    display: inline;
}
.icons-container i{
    margin-right: 5px;
    font-size: 1.5em;
}

.icons-container i:hover {
    color: #02635e;
}