.note-card {
    background-color: lightcyan;
    width: 250px;
    min-height: 200px;
    padding: 15px;
    margin: 15px;
}

.note-card img {
    width: 100%;
}
.editBar {
    margin-top: auto;
}

.fas,.far {
    color: #16c1b9;
    margin-right: auto;
    padding-top: 15px;
}
.pinned {
    color: #02635e;
}