.search-container {
    position: relative;
    padding: 10px;
}

.search-container-bar {
    background-color: #00403c;
    padding: 10px;
}

.search-container input {
    width: 250px;
    height: 32px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    padding: 20px;
    margin-right: 5px;
}

.search-container .fa-search {
    position: absolute;
    top: 14px;
    left: 225px;
}