.search-container {
    position: relative;
    padding: 10px;
}

.search-container-bar {
    padding: 20px;
}

.search-container select {
    padding:10px;
    background-color: transparent;
    color: #fff;
}

.search-container select option {
    color: black;
    background-color: transparent;
}

.search-container input {
    width: 250px;
    height: 32px;
    background: transparent;
    color: #fff;
    border: 1px solid #aaa;
    /* border-radius: 5px; */
    padding: 20px;
    margin-right: 5px;
}

.search-container .fa-search {
    position: absolute;
    top: 14px;
    left: 225px;
}