.note-card {
    background-color: transparent;
    width: 250px;
    min-height: 200px;
    padding: 15px;
    margin: 15px;
    border: 2px solid darkgray;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.note-card img {
    width: 100%;
}

.editBar {
    margin-top: auto;
    position: relative;
    padding: 15px;
}

.fas,
.far {
    color: rgb(82, 175, 102);
    margin-right: auto;
    padding-top: 10px;
    margin-top: auto;
    cursor: pointer;
}

.pinned {
    color: #9E9E9E;
}

.color-container {
    position: absolute;
    top: 40px;
    width: 200px;
}

.notes-mail input,
.notes-edit input {
    font-family: Roboto, monospace;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white
}


.edit-btn {
    margin: 5px;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Roboto, monospace;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 13px;
    text-shadow: 0px -1px 0px #2b665e;
}

.edit-btn:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.edit-btn:active {
    position: relative;
    top: 1px;
}