.email-list-container {
    width: 70%;
    margin: 0 auto;
}

.side-bar {
    float: left;   
    /* width: 300px; */
    height: 100vh;
}

.side-bar-item{
    display: block;
    font-size: 1.5em;
    padding: 17px;
    margin: 7px;
    cursor: pointer;
}

.side-bar-item:hover {
    background-color: #88d8d1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}